img {
    width: 2rem;
    height: auto;
    border-radius: 0.25rem;
}

.label {
    border-radius: 0.45rem;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 1rem;
    transition: all 0.3s;
    min-height: 334px;
    width: 390px;

}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: scale(1.03);
}

.bg-blue {
    background-color: #007bff;
}

.bg-green {
    background-color: #28a745;
}

.bg-red {
    background-color: #dc3545;
}

.bg-yellow {
    background-color: #ffc107;
}

.bg-purple {
    background-color: #6f42c1;
}

.bg-ruby {
    background-color: #dc3545;
}

.bg-diamond {
    background-color: #17a2b8;
}

.bg-emerald {
    background-color: #28a745;
}

.bg-turquoise {
    background-color: #20c997;
}

.bg-coral {
    background-color: #f86c6b;
}

.bg-sapphire {
    background-color: #007bff;
}

.bg-jade {
    background-color: #20c997;
}

.bg-silver {
    background-color: #6c757d;
}

@media(max-width:480px){
    .card {
        width: 90%;
    }
}