<section [ngClass]="{'bg-dark': !isDarkTheme}">
    <main class="container">
        <div class="text-center py-3" [ngClass]="{'text-white': !isDarkTheme}">
            <h1 class="fs-3 my-2">Status - Estações de metrô de SP </h1>
            <p class="fs-6 subtitle">Esteja sempre informado sobre alterações e incidentes nas linhas do <a
                    target="_blank" href="https://www.metro.sp.gov.br/">Metrô de SP</a>,
                <a target="_blank" href="https://www.viamobilidade.com.br/">ViaMobilidade</a> e <a target="_blank"
                    href="https://www.cptm.sp.gov.br/Pages/Home.aspx">CPTM</a> com
                atualizações frequentes.
            </p>
        </div>

        <div class="row d-flex justify-content-center">
            @for (metroStatus of metroResponse; track $index) {
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <app-card [data]="metroStatus"></app-card>
            </div>
            }
        </div>
    </main>
    <footer class="text-center pb-3">
        <div class="container">
            <span class="" [ngClass]="isDarkTheme ? 'text-muted' : 'text-white'">Desenvolvido por <a
                    href="https://felipealves.dev" target="_blank" class=""
                    [ngClass]="isDarkTheme ? 'text-muted' : 'text-white'">Felipe Alves</a></span>
        </div>
    </footer>
</section>

<div class="darkmode" (click)="toggleDarkTheme()">
    @if (isDarkTheme) {
    <a href="#">
        <img src="../../../assets/images/dark-mode.png" alt="DarkTheme" class="darkmode" />
    </a>
    } @else {
    <a href="#">
        <img src="../../../assets/images/light-mode.png" alt="LightTheme" class="darkmode" />
    </a>
    }
</div>